/* styles for single elements, not components or bigger utils */

/* img tag*/
.hero-image{
  width: 100px;
  height: 100px;
}

.hero-image.comic{
  width: 200px;
  height: auto;
}

#main-logo{
  width: 40%;
}

p.description{
  white-space: normal;
  text-align: left;
  padding: 1em 2em;
  max-height: 90px;
  overflow: hidden;
}